{% extends 'layout.html' %}
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


{% block content %}
<body>
{% if latest_question_list %}
    {% for questionnaire in latest_question_list %}
    <div class="card">
        <div class="card-header">
        	<h2>{{ questionnaire.questionnaire_title }}</h2>
        </div>
        <div class="card-body">
            <li>{{ questionnaire.questionnaire_description }}</li>
            <a class="btn btn-primary pull-right" href="{% url 'polls:questionnaire_part' questionnaire.id %}">Ir</a>
        </div>
    </div>
        {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
{% endblock %}
</html>