{% extends 'layout.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Bienvenido!</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% block content %}
{% if question_part_list %}
	
	
	<form  method="post">
	{% csrf_token %}
	{% for question_part in question_part_list %}
	<div class="card">
		<div class="form-group">
			<div class="card-header">
				<label for="FormControlSelect{{question_part.id}}">
					{{ question_part.question.question_text }}</label>
			</div>
			<div class="card-body">
				{% if question_part.question.question_type == 2 %}
				<select class="form-control" id="FormControlSelect{{question_part.id}}">
					{% for choice in question_part.question.choice_set.all %}
						<option value="{{ choice.id }}">{{ choice.choice_text }}</option>
					{% endfor %}
				</select>
				{% elif question_part.question.question_type == 1 %}
				<div class="input-group input-group-sm mb-3">
					<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
				</div>
				{% else %}
				<select multiple  class="form-control" id="FormControlSelect{{question_part.id}}">
					{% for choice in question_part.question.choice_set.all %}
						<option value="{{ choice.id }}">{{ choice.choice_text }}</option>
					{% endfor %}
				</select>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
	<input class="btn btn-primary" type="submit" value="Enviar">
	</form>
	</div>
	</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<script>
	questions_list = "{{question_part_list}}"
</script>
</body>
{% endblock %}
</html>