{% extends 'layout.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <title>Bienvenido!</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% block content %}
{% if question_part_list %}
	
	
	<form id="app" method="post">
	{% csrf_token %}
	{% for question_part in question_part_list %}
	<div id="question_part{{question_part.id}}"class="card">
		<div class="form-group">
			<div class="card-header">
				<label for="FormControlSelect{{question_part.id}}">
					{{ question_part.question.question_text }}</label>
			</div>
			<div class="card-body">
				{% if question_part.question.question_type == 2 %}
				<select name="{{question_part.id}}"  data-s2="true" class="select2 form-control" id="FormControlSelect{{question_part.id}}">
					{% for choice in question_part.question.choice_set.all %}
						<option value="{{ choice.id }}">{{ choice.choice_text }}</option>
					{% endfor %}
				</select>
				{% elif question_part.question.question_type == 1 %}
				<div class="input-group input-group-sm mb-3">
					<input type="text" name="{{question_part.id}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
				</div>
				{% else %}
				<select multiple="multiple" data-s2="true" name="{{question_part.id}}" class="select2 form-control" id="FormControlSelect{{question_part.id}}">
					{% for choice in question_part.question.choice_set.all %}
						<option >{{ choice.choice_text }}</option>
					{% endfor %}
				</select>
				{% endif %}

				
			</div>
		</div>
	</div>
	{% endfor %}
	<input class="btn btn-primary" @click="sendResponse" value="Enviar">
	</form>
	</div>
	</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="{% static 'js/polls/question_part.js' %}"></script>
<script>
	save_response ="{% url 'polls:save_response' %}"
	
</script>
</body>
{% endblock %}
</html>